

.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo {
    width: 70vw;
    max-width: 600px;
    margin-top: 12vh;
}

a .btn-home {
    text-decoration: none;
    color: white;
}

a:visited .btn-home {
    text-decoration: none;
    color: white;
}

button {
    text-decoration: none;
}

.btn-home {
    margin: 5px;
    width: 20vw;
    background-color: #7f4a88;
    text-decoration: none;
    color: white;
}

Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}

